DATABASE_URL=postgresql://user:password@host:5432/dbname
SESSION_SECRET=поддержкасекретключ2026
SUPPORT_EMAIL=tekhnicheskaya-podderzhka-pochty
SUPPORT_PASSWORD=MinZdrav@Support#2024!Secure
SUPPORT_SECRET=администраторпочтыминздрав2024
MAIL_DOMAIN=minzdrav.ru
NODE_ENV=production
